h1
{
    color:rgb(43, 155, 118);
    text-align: center; 
}
h2
{
    border: solid;
    border-color:black;
    color:blue;
    background-color: beige;
    width: 65%;
    padding: 1%;
}
.pantry, .freezer
{
    display: inline-block;
    width: 25%;
}

ul, ol
{
    margin: 1%;
    background-color: gray;
    width: 25%
}


